.paymentsPage {
  max-width: 700px;
  margin: 40px auto 90px auto;

  .heading {
    font-size: 24px;
    font-weight: bold;

    padding-bottom: 7px;
    border-bottom: 1px solid black;
  }

  .paymentControlGroup {
    margin-top: 30px;
  }
}
